body{
  text-align: center;
  font-family: sans-serif;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(32, 156, 96);
  color: white;
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
td img{
  width: 50px;
}
th{
  padding: 5px 5px 10px 10px;
}
td{
  padding: 15px 20px;
}
th{
  background-color: rgb(12, 119, 180);
}
button[type=button] {
  background-color: rgb(164, 60, 79);
  border: none;
}
select{
  width: 100%;
  border: none;
  border-radius: 5px;
}



/* Style Buat Lirik */
h1.lirik{
  text-align: center;
  font-family: sans-serif;
  background-color: #e74c3c;
  margin: 0px
}
pre{
  text-align: center;
  color: white;
  margin: 0px;
  font-weight: bold;
}
.flatyellow{
  background-color: #f1c40f
}
.flatgreen{
  background-color: #2ecc71;
}
.flatblue{
  background-color: #3498db;
}
.flatpurple{
  background-color: #8e44ad;
}
.flatorange{
  background-color: #d35400;
}
/*Akhir Lirik*/
